
/* ==========================================================================
   Better Wiki Theme version 1.0A, by [[User:Forge the Hybrid]].
   ========================================================================== */

/* ==========================================================================
   Developed for the 2018 Wiki Makeover project for the Wings of Fire Wiki
   ========================================================================== */

/**
* Feel free to modify in any way you want but leave the credit at the top.
*/

/* Main Navbar
   ========================================================================== */

/* Right Section */
.wds-community-header 
{
    background-color: #4e3d78;
}

/* Left Section */
.wds-community-header::before 
{
    background: linear-gradient(to right, rgba(64,23,58,0.5), rgba(64,23,58,0.5)), linear-gradient(to left, rgba(64,23,58,0) 200px, #4e3d78 430px);
}


/* Page Browsing
   ========================================================================== */

.WikiaPage .WikiaPageBackground 
{
    background: #fff2e9;
    opacity: 0.7;
}


/* Userpages
   ========================================================================== */


/**
* All Userpages
**/

/* Masthead Main */
.UserProfileMasthead .masthead-info
{
    background: #fff;
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.30));
    box-shadow: none;
}

/* Masthead Header */
.UserProfileMasthead .masthead-info hgroup
{
    background-image: -moz-linear-gradient(top,#4e3d78 0%,#472a59 100%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(0%,#4e3d78),color-stop(100%,#472a59));
    background-image: -o-linear-gradient(top,#4e3d78 0%,#472a59 100%);
    background-image: -ms-linear-gradient(top,#4e3d78 0%,#472a59 100%);
}

/* Masthead Triangle*/
.UserProfileMasthead .masthead-info-lower::before
{
border-color: #fff #fff transparent transparent;
}


/**
* Message Walls Only
**/

.Wall .SpeechBubble.new-message .speech-bubble-message 
{
    background: #f6dccb;
}

.Wall .SpeechBubble.new-message .speech-bubble-message::after 
{
    border-color: #fff2e9 #fff2e9 transparent transparent;
}

.Wall ul.comments > li.message > .speech-bubble-message 
{
    background: #fff2e9;
}

.Wall ul.comments > li.message > .speech-bubble-message::after 
{
    border-color: #fff2e9 #fff2e9 transparent transparent;
}

.Wall .SortingBar, .WallHistory .SortingBar 
{
    background: #fff2e9;
}


/* Browsing
   ========================================================================== */

/**
* Images
**/

/* Avatars */
.avatar {
    border-radius: 50%;
    border: 1px solid #fde4d0;
}


/**
* Sidebar Widgets 
**/
#WikiaRail .module, #WikiaRail .rail-module 
{
    border: 1px solid #633a7c;
}


/**
* Tabs
**/

/* Tabview */
.tabs .selected a
{
    background: #fff2e9;
}

/* Tabbers */


/**
* Comments
**/

.speech-bubble-message
{
    border: 1px solid #f6dcce;
}

/**
* Blogs
**/

/* Blog Categories */
.article-categories 
{
    background-color: #fff2e9;
    background-image: -moz-linear-gradient(top,#fff2e9 50%,#ffe6d5 100%);
    background-image: -webkit-gradient(linear,0% 0%,0% 100%,color-stop(50%,#fff2e9),color-stop(100%,#ffe6d5));
    background-image: -o-linear-gradient(top,#fff2e9 50%,#ffe6d5 100%);
    background-image: -ms-linear-gradient(top,#fff2e9 50%,#ffe6d5 100%);
}


/* Page Editing
   ========================================================================== */

/* Header */
.EditPageHeader 
{
    background-color: #65558c;
}

/* Background */
.EditPage {
    background: #ffe1cc;
}