/**
 * CONTENTS
 *
 * IMPORTS
 * Font Imports..............Imports fonts for use wiki-wide
   * Adelon Book
 *
 * THEME
 * Background Image..........Sets the background image of the entire page
 * Community Messages........Styles the Community Messages available at [[Special:WikiActivity]]
 * Infobox Themeing..........Styles the infobox to fit with the current wiki theme
 * Tabber Styles.............Styles the <tabber> tag
 * Edit Pencil...............Replaces the edit pencil with a dragon on pages still using the old button style
 *
 * FORUMS
 * Forum Hubpage.............Styles the Forum hubpage at [[Special:Forums]]
   * Board Images............Adds images to the Forum hubpage
 * Pinned Threads............Provides a method of pinning threads at the top of boards
 * Thread Templates..........Templates for Promotion/Demotion threads and tribe voting
 *
 * CUSTOM STYLES
 * Tribe Map.................Styles for the tribe map on the home page
   * Pyrrhia
   * Pantala
 * Tribe Banner..............Styles for the tribe banners
 * Condensed Poll............Provides a condensed/collapsed version of the <poll> tag
 * Pre-styled Table..........Class for a nicer looking table
 * Dragon Bullets............Different bullet points for the <ul> tag
 *
 * HELPER CLASSES
 * Code Snippet..............Class for inline code snippets
 * Inherit Color.............Class for inheriting the font color instead of using the <a> tag's color
 * Filter Class..............Inline support for the CSS Property `filter`
 * Pseudo Helper.............Inline support for the pseudo elements ::before and ::after, and the pseudo class :hover
   * ::before
   * ::after
   * :hover
 */


/**
 * Font Imports
 */

/* Adelon Book */
@font-face {
    font-family: 'Adelon Book';
    src: url('https://vignette.wikia.nocookie.net/heliosanctus/images/8/8a/Adelon-Book-webfont.eot?#iefix') format('embedded-opentype'), 
         url('https://vignette.wikia.nocookie.net/heliosanctus/images/b/b6/Adelon-Book-webfont.woff') format('woff'), 
         url('https://vignette.wikia.nocookie.net/heliosanctus/images/b/bd/Adelon-Book-webfont.ttf')  format('truetype'),
         url('https://vignette.wikia.nocookie.net/heliosanctus/images/6/6f/Adelon-Book-webfont.svg#svgAdelon_Book') format('svg');
}


/* Wiki Theme
   ========================================================================== */

/**
 * background image
 */
body.skin-oasis {
    background: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/f/f6/Soulofskies.png/revision/latest?cb=20180115005337") center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

/**
 * Font for blog post module that appears on main page and on the rail when
 * viewing blog posts.
 */
.header-column h1, .module h2 {
    font-family: "Adelon Book", Garamond, "Times New Roman", serif;
    font-weight: bold;
    letter-spacing: 1.75px;
    word-spacing: 1.5px;
}


/**
 * Styles the secondary button
 */
#WikiaPage a.wikia-button.secondary, #WikiaPage .wikia-single-button a.secondary, #WikiaPage .wikia-menu-button.secondary, #WikiaPage input[type="submit"].secondary, #WikiaPage input[type="reset"].secondary, #WikiaPage input[type="button"].secondary, #WikiaPage .button.secondary, #WikiaPage button.secondary, #WikiaPage .wikia-menu-button.secondary > a, #WikiaPage .oo-ui-buttonElement-framed .secondary.oo-ui-buttonElement-button {
    background-color: #652f5d;
    background-image: linear-gradient(180deg,transparent 35%, rgba(0,0,0,0.1) 65%);
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,0.1);
    color: white;
}

#WikiaPage a.wikia-button.secondary:hover, #WikiaPage .wikia-single-button a.secondary:hover, #WikiaPage .wikia-menu-button.secondary:hover, #WikiaPage input[type="submit"].secondary:hover, #WikiaPage input[type="reset"].secondary:hover, #WikiaPage input[type="button"].secondary:hover, #WikiaPage .button.secondary:hover, #WikiaPage button.secondary:hover, #WikiaPage .WikiHeader .buttons > .contribute:hover, #WikiaPage .wikia-menu-button.secondary > a:hover, #WikiaPage .oo-ui-buttonElement-framed .secondary.oo-ui-buttonElement-button:hover { background-color: #652f5d; }


#WikiaRail .module, #WikiaRail .rail-module {
    border: 1px solid #652f5d;
    margin: 0 0 30px 0;
    padding: 20px 15px 15px;
}


/**
 * Community Messages
 */

/* admin posts */
.com-msg-adpost {
    background:rgba(255,255,255,0.5);
    padding: 10px;
}

#myhome-community-corner-content .com-msg-adpost h3 {
    color: #ab6fa2;
    font-size: 18px;
    font-weight: bold;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

#myhome-community-corner-content .com-msg-adpost p {
    color: #e7a9de;
    font-size: 11px;
    letter-spacing: .05em;
    line-height: 15px;
    padding-top: 0.3em;
    text-transform: uppercase;
}

/* adds space between consecutive messages */
.com-msg-adpost + .com-msg-adpost { margin-top: 15px;}

.com-msg-link-ctnr { margin: 15px -15px 0 -15px; }

.com-msg-link a {
    background-color: #652f5d;
    border: 3px outset rgba(0,0,0,0.25);
    border-top-color:transparent; border-left-color:transparent;
    color: white;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 4px 0;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(100,100,100,0.75);}

.com-msg-link:hover a {
    background-image: linear-gradient(rgba(255,247,240,0.25),rgba(255,247,240,0.25));
    text-decoration: none;}

.com-msg-link:nth-child(1) a { background-color: #C03; }

.com-msg-link:nth-child(2) a { background-color: #069; }

.com-msg-link:nth-child(3) a { background-color: #390; }





/* Infobox Themeing */

.portable-infobox {
    background-color: #fff;
    border: 1px solid #dededa;
}

.portable-infobox .pi-header, .portable-infobox .pi-title {
    background: #4e3d78;
    border: 4px outset rgba(0,0,0,0.15);
    border-top-color: transparent;
    border-left-color: transparent;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.pi-data-value {
    align-self: center;
}

.pi-data-value:not(:first-child) {
    /* the cells in the second column of the infobox */
    flex-basis: 160px;
        -webkit-flex-basis: 160px;
        -moz-flex-basis: 160px;
        -ms-flex-preferred-size: 160px;
    padding-left: 15px;
}

.pi-header, .pi-title {
    padding: .5em 0;
    font-size: .9em;
    letter-spacing: 0.5px;
}

.portable-infobox .pi-item-spacing {
    padding: 8px 10px;
}

.pi-border-color {
    border-color: #dededa;
}





/**
 * Tabber Styles
 */

#WikiaPage .tabbertab {
    border-color: #1e1e1e;
}

#WikiaPage .tabbernav {
    border-bottom-color: #1e1e1e;
}

#WikiaPage .tabbernav a {
    background-color: #ddd;
    border-color: #1e1e1e;
    color: #1e1e1e;
}

#WikiaPage .tabbernav .tabberactive a {
    background-color: #fff;
    border-bottom-color: #fff;
}

#WikiaPage .tabbernav .tabberactive a:hover { cursor: default; }

/* when you hover over any tab that isn"t selected */
#WikiaPage .tabbernav li:not(.tabberactive) a:hover { background-color: #aaa; }





/*
 * Custom edit pencil for pages still using the old button
 * User page
 */
 .wikia-menu-button .sprite.edit-pencil {
    /* custom edit-pencil */
    background: url("https://vignette.wikia.nocookie.net/wingsoffirefanon-testing/images/3/30/Wiki-editpencil.png") no-repeat;
    background-position: 0 !important;
}





/* Forums
   ========================================================================== */

/**
 * Forum Hub page ([[Special:Forum]])
 */

 ul.boards .board {
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    height: 100px;
    padding-left: 125px;
}


/* Moves over the number of threads / posts by 10 px */
.Forum .activity { margin-right: 10px; }


/* Promotion and Roleplay Archive */
.board-84799 { display: none; }


/*
 * Board Images
 * by [[User:LorikeetRainWing]]
 */

/* News and Announcements */
.board-2702 { background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/d/d1/NewsAndAnnouncements_Lori.png"); }

/* General Discussion */
.board-393712 { background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/c/cf/QuestionsandAnswers_Lori.png"); }

/* Roleplaying */
.board-3290 { background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/d/d0/Roleplaying_Lori.png"); }

/* Contests, Requests, and Games */
.board-393714{ background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/0/08/FunandGames_Lori.png"); }

/* Fanfictions */
.board-15675 { background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/f/ff/Default_Lori.png"); }

/* Promotions & Demotions */
.board-177541 { background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/b/bd/Promotions_Lori.png"); }

/* Wiki Improvement */
.board-151263 { background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/66/WikiImprovement_Lori.png"); }


/**
 * Pinned Threads
 */

/* Sets the thread list to use flexbox for sticky thread support */
.ThreadList {
    display: -webkit-box;
    display: -ms-flexbox;
display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
flex-direction: column;
}

/* Stickied Threads */
.ThreadList li[data-id="1018225"], /* December Newsletter */
.ThreadList li[data-id="393735"], /* General Discussion - Help Thread */
.ThreadList li[data-id="343360"], /* Roleplaying - RP Hub */
.ThreadList li[data-id="349095"], /* Roleplaying - RP Rules */
.ThreadList li[data-id="178728"] /* Promotions and Demotions - feedback */ {
    background-color: rgba(184, 71, 71, 0.15);
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
    order: -1;
}


/**
 * Thread Templates
 */

/*
 * remove poll numbers on selected thread
.page-Thread_XXXXXX .pollAnswerVotes {
    display: none;
}
 */

/*
 * hide replies on selected thread
.page-Thread_XXXXXX ul.replies .msg-body  {
    display: none;
}
 */

/*
 * less obstructive removed messages
.page-Thread_XXXXXX #WikiaPage .speech-bubble-message-removed {
    display: none;
}
 */

/*
 * Anonymous comments for "crat / admin threads
.page-Thread_XXXXXX .replies .avatar,
.page-Thread_XXXXXX .replies .edited-by,
.page-Thread_XXXXXX .replies .quote-button {
    display: none;
}
 */


/* Stormlash - 2016 July 6th */
.banrule {
    color: #5a86a7;
    font-size: 11px;
}

/* Stormlash - 2016 July 6th */
.page-User_blog_Heliosanctus_2016_Stormlash_Ban_Case ul + p {
    margin: -25px auto 23px 35px !important;
}

/* Matau99 - 2017 February 22nd */
.page-Thread_396249 .replies .avatar,
.page-Thread_396249 .replies .edited-by,
.page-Thread_396249 .replies .username,
.page-Thread_396249 .replies .quote-button {
    display: none;
}

/* Outclaw - 2018 December 15th */
.page-Thread_1001956 .replies .avatar,
.page-Thread_1001956 .replies .edited-by,
.page-Thread_1001956 .replies .username,
.page-Thread_1001956 .replies .quote-button {
    display: none;
}


/* Tribe Contest voting thread - 2017 */
.page-Thread_572796 .replies .msg-body
{
    display: none;
}

/* Tribe Contest voting thread - 2018 */
.page-Thread_993898 .replies .msg-body  {
    display: none;
}





/* Custom Styles
   ========================================================================== */

/** Tribe Map CSS
* ZodiaDragon  - code and concepts
* Heliosanctus - colored map/images, concepts
* Mike Schley  - original (uncolored) map
* Wychmire     - Code cleanup, renaming classes
**/

.c-tribe-map {
	background: radial-gradient(rgba(127,165,148,0.3) 50%, rgba(0,0,0,0) 0px) 4px 4px, radial-gradient(rgba(127,165,148,.2) 50%, rgba(0,0,0,0) 0px), rgba(0,0,0,0);
	background-size: 8px 8px;
	margin: 0px auto;
	width: 85%;
}

.c-tribe-map__icon {
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	width:30px;
	height:30px;
}

.c-tribe-map__icon:hover {
	box-shadow: 0 0 75px 5px #fff;
}


/**
 * Pyrrhia
 */

/* Canon tribes*/
.c-tribe-map__icon--icewing {
	margin-top:-165px;
	margin-left:116px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/3/35/Icewingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--mudwing {
	margin-top:40px;
	margin-left:314px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/4/43/Mudwingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--nightwing {
	margin-top:50px;
	margin-left:83px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/8/8c/Nightwingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--rainwing {
	margin-top:-11px;
	margin-left:304px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/0/0d/Rainwingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--sandwing {
	margin-top:-82px;
	margin-left:124px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/1/17/Sandwingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--seawing {
	margin-top:-98px;
	margin-left:367px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/3/38/Seawingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--skywing {
	margin-top:-56px;
	margin-left:223px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/8/81/Skywingtoken.png");
	background-size: 100% 100%;
}


/* Fanon tribes */
.c-tribe-map__icon--aviwing {
	margin-top:-120px;
	margin-left:205px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/b/b6/Aviwingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--deathwing {
	margin-top:-200px;
	margin-left:200px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/1/16/Deathwingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--driftwing {
	margin-top:60px;
	margin-left:420px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/c/c2/Driftwingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--mistwing {
	margin-top:40px;
	margin-left:290px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/6c/Mistwingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--swiftwing {
	margin-top:49px;
	margin-left:240px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/a/a6/Swiftwingtoken.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--tempestwing {
	margin-top: -200px;
	margin-left: 338px;
	background-image: url("https://vignette.wikia.nocookie.net/heliosanctus/images/5/55/Ins-TempestWings.png");
	background-size: 100% 100%;
}

.c-tribe-map__icon--trickwing {
	margin-top:-10px;
	margin-left:38px;
	background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/5/5e/Trickwingtoken.png");
	background-size: 100% 100%;
}


/**
 * Pantala 
 */

/* Canon Tribes */

/*.c-tribe-map__icon--leafwing {
	margin-top:-10px;
	margin-left:38px;
	background-image: url("");
	background-size: 100% 100%;
}

.c-tribe-map__icon--hivewing {
	margin-top:49px;
	margin-left:240px;
	background-image: url("");
	background-size: 100% 100%;
}

.c-tribe-map__icon--silkwing {
	margin-top: -200px;
	margin-left: 338px;
	background-image: url("");
	background-size: 100% 100%;
}*/





/**
 * Tribe Banner
 */

.c-tribe-banner {
	background-color: #fff;
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
	box-sizing: border-box;
	color: #000;
	padding: 5px;
	width: 96%;
}

.c-tribe-banner__header {
	font-size: 18px;
	margin: 40px auto 10px auto;
	padding: 5px;
	padding-left: 135px;
}

.c-tribe-banner__main {
	margin: 0 auto;
	padding: 5px;
	padding-left: 20px;
}

.c-tribe-banner__sigil {
	background: #fff;
	border: 7px solid #fff;
	border-radius: 100px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
	margin-top: -79px;
	margin-left: -125px;
	position: absolute;
}

.c-tribe-banner__main--aviwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/f/fc/Avibase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--deathwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/e/eb/DeathWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--driftwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/6b/DriftWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--hivewing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/1/1c/HiveWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--icewing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/9/9c/IceWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--leafwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/a/a5/LeafWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--mistwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/5/5b/MistWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--mudwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/a/a1/MudWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--nightwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/6d/NightWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--rainwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/a/ab/RainWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--sandwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/c/c4/SandWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--seawing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/5/5f/SeaWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain
	;
}

.c-tribe-banner__main--silkwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/1/15/SilkWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--skywing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/4/46/SkyWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--swiftwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/4/48/SwiftWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--tempestwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/62/TempestWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

.c-tribe-banner__main--trickwing {
	background-image: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/d/de/TrickWingBase.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}





/**
 * Condensed Poll
 */
.condensed-poll input[name="wpVote"] {
    float: right;
    margin-top: -40px;
}

.condensed-poll input[name="wpVote"] + span{
    display: block;
    margin: -10px 0;
}

.condensed-poll #ajax-poll-area {
    display: flex;
    margin: -10px 0 10px 0;
}

.condensed-poll #ajax-poll-area br + div,
.condensed-poll .pollAnswerVotes div {
    display: none;
}

.condensed-poll .pollAnswer {
    display: flex;
    margin-left: 30px;
}

.condensed-poll .pollAnswer input {
    margin: -4px 3px 0 -15px;
    position: absolute;
}

.condensed-poll .pollAnswerVotes {
    border: none;
    width: initial;
}

.condensed-poll .pollAnswerVotes span {
    position: initial;
    top: initial; left: initial;
}


/**
 * Pre-styled table class
 */

 .article-table-plus {
    background: #fff;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,0.5);
    border-collapse: collapse;
    margin: 1em auto 1em auto;
}

.article-table-plus td, .article-table-plus th {
    /* styles all cells */
    border: none;
    padding: .7em 1.3em;
}

.article-table-plus td:nth-of-type(even) {
    /* adds color to cells in even-numbered columns */
    background-image: linear-gradient(rgba(0,0,0,0.02),rgba(0,0,0,0.02));
}

.article-table-plus th {
    /* styles for "heading" cells */
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    font-size: 1.2em;
}

.article-table-plus tr:nth-of-type(even) td {
    /* styles cells in even-numbered rows */
    background-image: linear-gradient(rgba(0,0,0,0.02),rgba(0,0,0,0.02));
}

.article-table-plus tr:nth-of-type(even) td:nth-of-type(even) {
    /* styles even-numbered cells in even-numbered rows */
    background-image: linear-gradient(rgba(0,0,0,0.04),rgba(0,0,0,0.04));
}

tr.list-founder td, tr.list-founder th, tr.list-founder ~ tr td {
    /* founder row and all subsequent rows are white */
    background-color:#fff;
}

tr.list-bureaucrat td, tr.list-bureaucrat th, tr.list-bureaucrat ~ tr td {
    /* bureaucrat row and all subsequent rows are purple */
    background-color:#eef;
}

tr.list-administrator td, tr.list-administrator th, tr.list-administrator ~ tr td {
    /* admin row and all subsequent rows are red */
    background-color:#fee;
}

tr.list-rollback td, tr.list-rollback th, tr.list-rollback ~ tr td {
    /* rollback row and all subsequent rows are green */
    background-color:#efe;
}

tr.list-rpmod td, tr.list-rpmod th, tr.list-rpmod ~ tr td {
    /* rpmod and all subsequent rows are blue */
    background-color:#eff;
}

tr.list-chatmod td, tr.list-chatmod th, tr.list-chatmod ~ tr td {
    /* chatmod row and all subsequent rows are yellow */
    background-color:#ffe;
}


/**
 * Dragon bullet points
 */

/* First style, flying dragon */
.dragon-bullets li { list-style: url("https://vignette.wikia.nocookie.net/wingsoffirefanon-testing/images/f/fc/Wiki-bullet.png") }

/* Second style, sitting dragon */
.dragon-bullets li { list-style: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/f/fb/Wiki-bullet_sitting.png") }





/* Helper Classes
   ========================================================================== */

/**
 * Code Snippet
 * Provides styling for code snippets. Sourced from https://gitlab.com
 */
.u-code {
    padding: 2px 4px;
    color: #c0341d;
    background-color: #fbe5e1;
    border-radius: 4px;
}


/**
 * Inherit Color
 * Removes link color
 */
.u-no-a { color: inherit; }


/**
 * Filter Class
 * Inline support for the filter property.
 */

.o-filter {
/**
 * variable is "--filter_" instead of "--filter" since MediaWiki's filter trips
 * when it sees "filter:" so we give it "filter_:" instead.
 */
    filter: var(--filter_);
}


/**
 * Pseudo Helper
 * Allows the use of common ::before, ::after, and :hover properties with inline css
 */
/* Inline support for common ::after effects */
.o-pseudo::after {
    content: var(--after);
    position: var(--after-position);
    top: var(--after-top);
    right: var(--after-right);
    bottom: var(--after-bottom);
    left: var(--after-left);
    margin: var(--after-margin);
    width: var(--after-width);
    height: var(--after-height);
    border-radius: var(--after-border-radius);
    background-image: var(--after-background-image);
    background-position: var(--hover-background-position);
    background-size: var(--hover-background-size);
    background-color: var(--after-background-color);
    box-shadow: var(--after-box-shadow);
    font-family: var(--after-font-family);
    font-size: var(--after-font-size);
    letter-spacing: var(--after-letter-spacing);
    line-height: var(--after-line-height);
    color: var(--after-color);
    text-shadow: var(--after-text-shadow);
    transform: var(--after-transform);
}

/* Inline support for common ::before effects */
.o-pseudo::before {
    content: var(--before);
    position: var(--before-position);
    top: var(--before-top);
    right: var(--before-right);
    bottom: var(--before-bottom);
    left: var(--before-left);
    margin: var(--before-margin);
    width: var(--before-width);
    height: var(--before-height);
    border-radius: var(--before-border-radius);
    background-image: var(--before-background-image);
    background-position: var(--hover-background-position);
    background-size: var(--hover-background-size);
    background-color: var(--before-background-color);
    box-shadow: var(--before-box-shadow);
    font-family: var(--before-font-family);
    font-size: var(--before-font-size);
    letter-spacing: var(--before-letter-spacing);
    line-height: var(--before-line-height);
    color: var(--before-color);
    text-shadow: var(--before-text-shadow);
    transform: var(--before-transform);
}

/* Inline support for common :hover effects */
.o-pseudo:hover {
    background-image: var(--hover-background-image);
    background-position: var(--hover-background-position);
    background-size: var(--hover-background-size);
    background-color: var(--hover-background-color);
    color: var(--hover-color);
    text-decoration-line: var(--hover-text-decoration-line);
    text-decoration-color: var(--hover-text-decoration-color);
    text-decoration-style: var(--hover-text-decoration-style);
    text-shadow: var(--hover-text-shadow);
    transform: var(--hover-transform);
    filter: var(--hover-filter);
}





/* Fixes
   ========================================================================== */

/* Darkens the color of the comment counter on the blog post rail. */
.commentsbubble {

    color: #40173a;}

/* Shrinks all emotes on MediaWiki:Emoticons to be 19px by 19px. */
.page-MediaWiki_Emoticons #WikiaArticle img {
    height:19px;
    width:19px;}

/* Shrinks font size for message wall timestamp */
.Wall .timestamp {
    font-size: 10px;
    line-height: 12px;}
