/** TABLE OF CONTENTS
  *  Font Imports
  *  Alternative Table
  *  Basic Design
  *  Community Messages
  *  Condensed Poll
  *  Customized Sprites
  *  Debugging
  *  Forum Styles
  *  Homepage Classes
  *  Infobox Classes
  *  Sticky Forum
  *  Sticky Note Class
  *  Tabber Styles
  *  Tribe Banner
  *  Tribe Map CSS
  *  Other / Template Code
  *  Other / General CSS
  **/



/* Font Imports */

@font-face {
   /* imports the wings of fire font */
   font-family: 'Adelon Book'; src:
      url('https://vignette.wikia.nocookie.net/heliosanctus/images/8/8a/Adelon-Book-webfont.eot') format('embedded-opentype'),
      url('https://vignette.wikia.nocookie.net/heliosanctus/images/b/b6/Adelon-Book-webfont.woff') format('woff'),
      url('https://vignette.wikia.nocookie.net/heliosanctus/images/b/bd/Adelon-Book-webfont.ttf') format('truetype'),
      url('https://vignette.wikia.nocookie.net/heliosanctus/images/6/6f/Adelon-Book-webfont.svg#svgAdelon_Book') format('svg');}



/* Alternative Table */

.article-table-plus {
   background: #FFF;
   border: 1px solid #000;
   border: 1px solid rgba(0,0,0,0.5);
   border-collapse: collapse;
   margin: 1em auto 1em auto;}

.article-table-plus td, .article-table-plus th {
   /* styles all cells */
   border: none;
   padding: .7em 1.3em;}

.article-table-plus td:nth-of-type(even) {
   /* adds color to cells in even-numbered columns */
   background-image: linear-gradient(rgba(0,0,0,0.02),rgba(0,0,0,0.02));}

.article-table-plus th {
   /* styles for "heading" cells */
   background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
   font-size: 1.2em;}

.article-table-plus tr:nth-of-type(even) td {
   /* styles cells in even-numbered rows */
   background-image: linear-gradient(rgba(0,0,0,0.02),rgba(0,0,0,0.02));}

.article-table-plus tr:nth-of-type(even) td:nth-of-type(even) {
   /* styles even-numbered cells in even-numbered rows */
   background-image: linear-gradient(rgba(0,0,0,0.04),rgba(0,0,0,0.04));}

.no-a a {
   /* class that removes link color */
   color: inherit;}

tr#list-founder td, tr#list-founder th, tr#list-founder ~ tr td {
   /* founder row and all subsequent rows are white */
   background-color:#FFF;}

tr#list-bureaucrat td, tr#list-bureaucrat th, tr#list-bureaucrat ~ tr td {
   /* bureaucrat row and all subsequent rows are purple */
   background-color:#EEF;}

tr#list-administrator td, tr#list-administrator th, tr#list-administrator ~ tr td {
   /* admin row and all subsequent rows are red */
   background-color:#FEE;}

tr#list-rollback td, tr#list-rollback th, tr#list-rollback ~ tr td {
   /* rollback row and all subsequent rows are green */
   background-color:#EFE;}
   
tr#list-rpmod td, tr#list-rpmod th, tr#list-rpmod ~ tr td {
    /* rpmod and all subsequent rows are blue */
    background-color:#EFF;}

tr#list-chatmod td, tr#list-chatmod th, tr#list-chatmod ~ tr td {
   /* chatmod row and all subsequent rows are yellow */
   background-color:#FFE;}



/* Basic Design */

body.skin-oasis {
   /* background image */
   background: url('https://vignette.wikia.nocookie.net/wingsoffirefanon/images/f/f6/Soulofskies.png/revision/latest?cb=20180115005337') center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: Helvetica, Arial, sans-serif;}

.header-column h1, .module h2 {
   /* sets page header font */
   font-family: 'Adelon Book', Garamond, 'Times New Roman', serif;
   font-weight: bold;
   letter-spacing: 1.75px;
   word-spacing: 1.5px;}

#WikiaPage a.wikia-button.secondary, #WikiaPage .wikia-single-button a.secondary, #WikiaPage .wikia-menu-button.secondary, #WikiaPage input[type="submit"].secondary, #WikiaPage input[type="reset"].secondary, #WikiaPage input[type="button"].secondary, #WikiaPage .button.secondary, #WikiaPage button.secondary, #WikiaPage .wikia-menu-button.secondary > a, #WikiaPage .oo-ui-buttonElement-framed .secondary.oo-ui-buttonElement-button {
   /* coloring "secondary" buttons */
   background-color: #652f5d;
   background-image: linear-gradient(180deg,transparent 35%, rgba(0,0,0,0.1) 65%);
   border: 1px solid #000;
   border: 1px solid rgba(0,0,0,0.1);
   color: white;}

#WikiaPage a.wikia-button.secondary:hover, #WikiaPage .wikia-single-button a.secondary:hover, #WikiaPage .wikia-menu-button.secondary:hover, #WikiaPage input[type="submit"].secondary:hover, #WikiaPage input[type="reset"].secondary:hover, #WikiaPage input[type="button"].secondary:hover, #WikiaPage .button.secondary:hover, #WikiaPage button.secondary:hover, #WikiaPage .WikiHeader .buttons > .contribute:hover, #WikiaPage .wikia-menu-button.secondary > a:hover, #WikiaPage .oo-ui-buttonElement-framed .secondary.oo-ui-buttonElement-button:hover {
   /* coloring "secondary" button hover */
   background-color: #652f5d;
   background-image: linear-gradient(180deg,transparent 35%, rgba(0,0,0,0.1) 65%);}

#WikiaRail .module, #WikiaRail .rail-module {
   background: linear-gradient(rgba(255,247,240,0.95),rgba(255,247,240,0.95)),url('https://vignette.wikia.nocookie.net/wingsoffirefanon/images/f/f6/Soulofskies.png/revision/latest?cb=20180115005337');
   background-size: cover;
   border: 1px solid #652f5d;
   margin: 0 0 30px 0;
   padding: 20px 15px 15px;}



/* Community Messages */

.com-msg-adpost {
   /* admin posts */
   background:rgba(255,255,255,0.5);
   padding: 10px;}

.com-msg-adpost h3 {
   color: #ab6fa2;
   font-size: 18px !important;
   font-weight: bold !important;
   line-height: inherit !important;
   margin: 0 !important;
   padding: 0 !important;}

.com-msg-adpost p {
   color: #e7a9de;
   font-size: 11px !important;
   letter-spacing: .05em;
   line-height: 15px !important;
   padding-top: 0.3em !important;
   text-transform: uppercase;}

.com-msg-adpost + .com-msg-adpost {
   /* adds space between consecutive messages */
   margin-top: 15px;}

.com-msg-link-ctnr {
   margin: 15px -15px 0 -15px;}

.com-msg-link a {
   background-color: #652f5d;
   border: 3px outset rgba(0,0,0,0.25);
   border-top-color:transparent; border-left-color:transparent;
   color: white;
   display: block;
   font-family: arial;
   font-weight: bold;
   padding: 4px 0;
   text-align: center;
   text-shadow: 1px 1px 2px rgba(100,100,100,0.75);}

.com-msg-link:hover a {
   background-image: linear-gradient(rgba(255,247,240,0.25),rgba(255,247,240,0.25));
   text-decoration: none;}

.com-msg-link:nth-child(1) a {
   background-color: #C03;}

.com-msg-link:nth-child(2) a {
   background-color: #069;}

.com-msg-link:nth-child(3) a {
   background-color: #390;}



/* Condensed Poll */

.condensed-poll input[name="wpVote"] {
   float: right;
   margin-top: -40px;}

.condensed-poll input[name="wpVote"] + span{
   display: block;
   margin: -10px 0;}

.condensed-poll #ajax-poll-area {
   display: flex;
   margin: -10px 0 10px 0;}

.condensed-poll #ajax-poll-area br + div,
.condensed-poll .pollAnswerVotes div {
   display: none;}

.condensed-poll .pollAnswer {
   display: flex;
   margin-left: 30px;}

.condensed-poll .pollAnswer input {
   margin: -4px 3px 0 -15px;
   position: absolute;}

.condensed-poll .pollAnswerVotes {
   border: none;
   width: initial; }

.condensed-poll .pollAnswerVotes span {
   position: initial;
   top: initial; left: initial;}



/* Customized Sprites */

.dragon-bullets ul {
   /* custom bullets */
   list-style: url('https://vignette.wikia.nocookie.net/wingsoffirefanon-testing/images/f/fc/Wiki-bullet.png') !important;
   margin: 0 0 5px 40px;}

.WikiHeader .buttons .contribute > img {
   /* custom contribute page */
   background: url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/64/Addpage.png) no-repeat;
   background-size: cover;
   margin-bottom: 4px;
   height:18px; width:16px;}

.wikia-menu-button .sprite.edit-pencil {
   /* custom edit-pencil */
   background: url('https://vignette.wikia.nocookie.net/wingsoffirefanon-testing/images/3/30/Wiki-editpencil.png') no-repeat !important;
   background-position: 0 !important;}



/* Debugging */

#SPOTLIGHT_FOOTER {
   /* removes ugly partial gradients */
   background-image: none;}

.CategorySelect.articlePage .add {
   /* configures better styles for the category adding button */
   background-image: none;
   background-color: #5fb6b5;
   height:21px;}
   
.CategorySelect.articlePage.editMode .input {
   margin-top: 0;
   height:21px;}

.commentsbubble {
   /* makes comment counter show up */
   color: #40173a;}

.global-navigation, .global-navigation.inverse {
   /* fixes the bug where there is a gap above the navigation */
   top: 0 !important;}

.page-MediaWiki_Emoticons #WikiaArticle img {
   /* emotes on the emoticons page are 19x19px */
    height:19px;
    width:19px;}

.recirculation-rail.module {
   /* TOU forbids CSS that intentionally blocks, removes, or otherwise obstructs the proper functioning and view of user interface and functionality. This code just makes the module less intrusive */
   overflow-y: scroll;
   height:540px;}
 
.Wall .timestamp {
   /* tidies up renamed user redirect messages */
   font-size: 10px;
   line-height: 12px;}



/* Forum Styles */

.board-84799 {
    /* Roleplay Archive */
    display: none;}

/* Forum Sprites by [[User:LorikeetRainWing]] */

ul.boards .board {
   background-position: 15px center;
   background-repeat: no-repeat;
   background-size: 100px 100px;
   height: 100px;
   padding-left: 125px;}

.Forum .activity {
   margin-right: 10px;}

.board-2702 {
   /* News and Announcements */
   background-image: url('https://vignette.wikia.nocookie.net/wingsoffirefanon/images/d/d1/NewsAndAnnouncements_Lori.png');}

.board-393712 {
   /* General Discussion */
   background-image: url('https://vignette.wikia.nocookie.net/wingsoffirefanon/images/c/cf/QuestionsandAnswers_Lori.png');}

.board-3290 {
   /* Roleplaying */
   background-image: url('https://vignette.wikia.nocookie.net/wingsoffirefanon/images/d/d0/Roleplaying_Lori.png');}

.board-393714{
   /* Contests, Requests, and Games */
   background-image: url('https://vignette.wikia.nocookie.net/wingsoffirefanon/images/0/08/FunandGames_Lori.png');}

.board-15675 {
   /* Fanfictions */
   background-image: url('https://vignette.wikia.nocookie.net/wingsoffirefanon/images/f/ff/Default_Lori.png');}

.board-177541 {
   /* Promotions & Demotions */
   background-image: url('https://vignette.wikia.nocookie.net/wingsoffirefanon/images/b/bd/Promotions_Lori.png');}

.board-151263 {
   /* Wiki Improvement */
   background-image: url('https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/66/WikiImprovement_Lori.png');}



/* Homepage Classes */

.homefront {
   background-color: #FFF;
   border: 1px solid #4e3d78;
   border-top: none;
   color: #333;
   margin-bottom: 10px;
   padding: 5px;}
 
 .homefront + .homefront {
   border-top: 1px dashed #4e3d78;
   margin-top: -12px;
   text-align: center;}

.homeheader {
   background-color: #4e3d78;
   border: 5px solid rgba(0,0,0,0.15);
   border-top-color: transparent;
   border-left-color: transparent;
   color: #FFF;
   font-size: 20px;
   padding: 1px 0;
   text-align: center;}
 
.hometext {
   font-family: 'Adelon Book', Garamond, 'Times New Roman', serif;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   padding-top: 5px;
   text-transform: uppercase;}
 
.hometext:before {
   background-image: url('https://vignette.wikia.nocookie.net/wingsoffirefanon-testing/images/9/95/Flair-left.png');
   background-size: 100%;
   content: "";
   display: inline-block;
   height: 12px;
   margin-right: 5px;
   width: 60px;}
 
.hometext:after {
   background-image: url('https://vignette.wikia.nocookie.net/wingsoffirefanon-testing/images/9/9f/Flair-right.png');
   background-size: 100%;
   content: "";
   display: inline-block;
   height: 12px;
   margin-left: 5px;
   width: 60px;}



/* Infobox Classes */

.portable-infobox {
   background-color: #FFF;
   border: 1px solid #dededa;}

.portable-infobox .pi-header, .portable-infobox .pi-title {
   background: #4e3d78;
   border: 4px outset rgba(0,0,0,0.15);
   border-top-color: transparent;
   border-left-color: transparent;
   color: #FFF;
   font-size: 13px;
   font-weight: bold;
   text-align: center;}
 
.pi-data-value {
   align-self: center;}

.pi-data-value:not(:first-child) {
   /* the cells in the second column of the infobox */
   flex-basis: 160px;
      -webkit-flex-basis: 160px;
	  -moz-flex-basis: 160px;
      -ms-flex-preferred-size: 160px;
   padding-left: 15px;}

.pi-header, .pi-title {
   padding: .5em 0;
   font-size: .9em;
   letter-spacing: 0.5px;}

.portable-infobox .pi-item-spacing {
   padding: 8px 10px;}

.pi-border-color {
    border-color: #dededa;}



/* Sticky Forum */

.ThreadList li[data-id="1018225"] /* December Newsletter */,
.ThreadList li[data-id="393735"] /* General Discussion - Help Thread */,
.ThreadList li[data-id="343360"] /* Roleplaying - RP Hub */,
.ThreadList li[data-id="349095"] /* Roleplaying - RP Rules */,
.ThreadList li[data-id="178728"] /* Promotions and Demotions - Feedback */{
   background-color: rgba(184, 71, 71, 0.15) !important;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
   order: -1;}

.ThreadList {
      display: -webkit-box;
      display: -ms-flexbox;
   display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
   flex-direction: column;}



/* Sticky Note Class */

.stickynote {
   background: url('https://vignette.wikia.nocookie.net/wingsoffirefanon-testing/images/8/8a/Paper-alpha.png'), linear-gradient(180deg, rgba(255,255,255,.75) 15%, transparent), transparent;
   background-color: yellow;
   background-size: cover;
   box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
   float: right;
   margin: 5px;
   padding: 10px;
   text-align: left;
   transform: rotate(-2deg);
   height:200px; width:200px;}



/* Tabber Styles */

#WikiaPage .tabbertab {
   border-color: #1e1e1e;}

#WikiaPage .tabbernav {
   border-bottom-color: #1e1e1e;}

#WikiaPage .tabbernav a {
   background-color: #ddd;
   border-color: #1e1e1e;
   color: #1e1e1e;}

#WikiaPage .tabbernav .tabberactive a {
   background-color: #fff;
   border-bottom-color: #fff;}

#WikiaPage .tabbernav .tabberactive a:hover {
   cursor: default;}

#WikiaPage .tabbernav li:not(.tabberactive) a:hover {
   /* when you hover over any tab that isn't selected */
   background-color: #aaa;}



/* Tribe Banner */
.tribepictop {
   background: #FFF;
   box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
   box-sizing: border-box;
   color: #000;
   font-size: 18px;
   margin: 40px auto 10px auto;
   padding: 5px;
   padding-left: 135px;
   width: 96%;}

.tribesigil {
   background: #FFF;
   border: 7px solid #FFF;
   border-radius: 100px;
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
   margin-top: -79px;
   margin-left: -125px;
   position: absolute;}

.tribepic {
   background: #FFF;
   box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
   box-sizing: border-box;
   margin: 0 auto;
   padding: 5px;
   padding-left: 20px;
   width: 96%;}

.aviwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/f/fc/Avibase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.deathwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/e/eb/DeathWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.driftwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/6b/DriftWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}
   
.hivewingpic {
    background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/1/1c/HiveWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.icewingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/9/9c/IceWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}
   
.leafwingpic {
    background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/a/a5/LeafWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}
   
.mistwingpic {
    background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/5/5b/MistWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.mudwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/a/a1/MudWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.nightwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/6d/NightWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.rainwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/a/ab/RainWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.sandwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/c/c4/SandWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.seawingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/5/5f/SeaWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}
   
.silkwingpic {
    background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/1/15/SilkWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.skywingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/4/46/SkyWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}
   
.swiftwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/4/48/SwiftWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.tempestwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/62/TempestWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}

.trickwingpic {
   background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)), url(https://vignette.wikia.nocookie.net/wingsoffirefanon/images/d/de/TrickWingBase.png), #FFF;
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;}



/** Tribe Map CSS
  *  ZodiaDragon  - code and concepts
  *  Heliosanctus - colored map/images, concepts
  *  Mike Schley  - original (uncolored) map
  **/

.TribeMap {
   background-color: #FFF;
   border-radius: 50%;
   position: relative;
   height:30px; width:30px;}
 
#AviWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/b/b6/Aviwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:205px; margin-top:-120px;}
 
#AviWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#DeathWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/1/16/Deathwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:200px; margin-top:-200px;}
 
#DeathWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#DriftWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/c/c2/Driftwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:420px; margin-top:60px;}
 
#DriftWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}

#IceWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/3/35/Icewingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:116px; margin-top:-165px;}
 
#IceWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#MistWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/6/6c/Mistwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:290px; margin-top:40px;}
 
#MistWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#MudWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/4/43/Mudwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:314px; margin-top:40px;}
 
#MudWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#NightWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/8/8c/Nightwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:83px; margin-top:50px;}
 
#NightWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#RainWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/0/0d/Rainwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:304px; margin-top:-11px;}
 
#RainWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#SandWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/1/17/Sandwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:124px; margin-top:-82px;}
 
#SandWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#SeaWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/3/38/Seawingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:367px; margin-top:-98px;}
 
#SeaWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#SkyWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/8/81/Skywingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:223px; margin-top:-56px;}
 
#SkyWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#SwiftWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/a/a6/Swiftwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:240px; margin-top:49px;}
 
#SwiftWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
   
#TempestWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/heliosanctus/images/5/55/Ins-TempestWings.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left: 338px; margin-top: -200px;}

#TempestWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}
 
#TrickWingMap {
   background-image: url("https://vignette.wikia.nocookie.net/wingsoffirefanon/images/5/5e/Trickwingtoken.png");
   background-size: 100% 100%;
   z-index: 1;
   margin-left:38px; margin-top:-10px;}
 
#TrickWingMap:hover {
   box-shadow: 0 0 75px 5px #FFF;}



/* Other / Template Code */

/** Template Code
  *  remove poll numbers on selected thread
.page-Thread_XXXXXX .pollAnswerVotes {
   display: none;}

  * hide replies on selected thread
.page-Thread_XXXXXX ul.replies .msg-body  {
   display: none;}

  * less obstructive removed messages
.page-Thread_XXXXXX #WikiaPage .speech-bubble-message-removed {
   display: none;}

  * anonymous comments on 'crat / admin threads
.page-Thread_XXXXXX .replies .avatar,
.page-Thread_XXXXXX .replies .edited-by,
.page-Thread_XXXXXX .replies .quote-button {
   display: none;}
  **/


.page-Thread_993898 .replies .msg-body  { /* tribe contest voting thread */
   display: none;}

.page-Thread_396249 .replies .avatar,
.page-Thread_396249 .replies .edited-by,
.page-Thread_396249 .replies .username,
.page-Thread_396249 .replies .quote-button { /* Matau99 - March 7th */
   display: none;}
   
.page-Thread_1001956 .replies .avatar,
.page-Thread_1001956 .replies .edited-by,
.page-Thread_1001956 .replies .username,
.page-Thread_1001956 .replies .quote-button { /* Outclaw - December 15th */
   display: none;}
   
.page-Thread_572796 .replies .msg-body
{
    display: none;}

.banrule {
   /* code for stormlash ban case */
   color: #5a86a7;
   font-size: 11px;}

.page-User_blog_Heliosanctus_2016_Stormlash_Ban_Case ul + p {
   /* code for stormlash ban case */
   margin: -25px auto 23px 35px !important;}

/* allows us to code with hover effects */
.hide-child {
    display: none;}

.hide-parent:hover .hide-child {
    display: initial;}

/* Other / General CSS */

/* adds a drop-shadow to anything this class is applied to. Required since drop-shadows cannot be done with inline-css */
.dropshadow {
    filter: drop-shadow(4px 5px 5px #888);
}
