/* ==========================================================================
   Poorly documented.
   ========================================================================== */

/* To use:
Copy the following onto the top of User:username/wikia.css
 
@import "://heliosanctus.wikia.com/index.php?title=MediaWiki:ChatSkin_Forge's_Wiki_Theme.css&action=raw&ctype=text/css";";
*/

 
 
/* 
    *  ==========================================  *
    *     Chatskin by [[User:Forge the Hybrid]]    *
    *  ==========================================  *
*/
 
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
 
 
.ChatWindow /* background */
{
    background: #242428;
}
 
/* 
 * ========= *
 *  Top Bar  *
 * ========= *
*/
 
.ChatHeader 
{
    background: linear-gradient(to bottom, #33334b, #33334b, #33334b);
    border-radius: 50px 15px 0px 0px !important;
    border: 2px solid #c8bc80;
    padding-left: 20px;
}
 
.ChatHeader .User
{
    border-left: 2px solid #84283b;
}
 
.ChatHeader .private
{
    color: #fff;
}
 
/* 
 * ========= *
 * Main Area *
 * ========= *
*/
 
.Chat /* Main section*/
{
    background-color: #dfd8b5;
    border: none;
}
 
.Chat .you /* Your posts */
{
    background-color: #e7e1c7;
}
 
.Chat .me-message
{
    font-family: "Comfortaa", "cursive";
    font-weight: bold;
    font-size: 14px;
    color: #33334b;
}
 
.Chat a /* Links */
{
    color: #a47d64 !important;
}
 
/* 
 * ========= *
 *  Sidebar  *
 * ========= *
*/
 
.Rail /* Sidebar */
{
    background-color: #84283b;
}
 
.Rail .wordmark img
{
    border-radius: 0;
    border: none;
}
 
.Rail .selected
{
    background: #5d1c2a;
    box-shadow: none;
}
 
.Rail .private
{
    background-color: #33334b;
    background-image: none;
    padding-left: 10px;
    color: #fff;
}
 
.Rail .User:hover
{
    background: #ab344c;
}
 
/* 
 * ========= *
 *  Low Bar  *
 * ========= *
*/
 
.Write .message /* Typing box */
{
    background-color: #e7e1c7;
    border: none;
}
 
.ChatWindow #WikiaPage /* Border around typing box */
{
    background-color: #d0c591 !important;
    border: 2px solid #c8bc80;
}
 
/* 
 * ========= *
 *   Other   *
 * ========= *
*/
 
/* Username popups */ 
 
.ChatWindow .UserStatsMenu /* Main box */
{
    background-color: #84283b75;
    border: 2px solid #c8bc80;
    text-shadow: 1px 1px 2px #000, 0 0 6px #000, 0 0 2px #000;
    color: #fff;
}
 
.ChatWindow #UserStatsMenu /* Main box */
{
    border: 2px solid #c8bc80;
}
 
.UserStatsMenu .info /* Top box */
{
    background-color: #5d1c2a75;
}
 
.ChatHeader .username, .Chat .User, .Rail .username 
/* Usernames */
{
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 6px #000, 0 0 2px #000;
}
 
.Chat .avatar, .Rail img, .ChatHeader .User img, .Write img, .ChatWindow .UserStatsMenu img /* Rounding images */
{
    border: 2px solid #c8bc80;
    border-radius: 100%; 
}
 
 
/* 
    *  ==========================================  *
    *  End Chatskin by [[User:Forge the Hybrid]]   *
    *  ==========================================  *
*/
