/* ==========================================================================
   Poorly documented.
   ========================================================================== */

/* 
*  ==============================================
*  Chat skin created by [[User:Forge the Hybrid]]
*  ----------------------------------------------
*  A chatskin that makes minimal changes, based 
*  on NS's temporary wiki theme, Rune-writing by 
*  the sea. Thanks for taking it out for a spin!
*  ----------------------------------------------
*  Feel free to remix, but keep the credit at the 
*  top. Thank you! 
*  ==============================================
*/
 
 
 
/* 
 * ================================== *
 * Media Queries for smaller displays *
 * ================================== *
*/
 
/* Larger Screens */
@media only screen and (min-width: 751px) 
{
	/* Background image */
	.ChatWindow 
	{   
        background-image: url(https://vignette.wikia.nocookie.net/heliosanctus/images/5/5d/Rune-writing_by_the_sea.png/revision/latest?cb=20180321000020);
		background-size: cover;
	}
}
 
 
/* Smaller Screens */
@media only screen and (max-width: 750px) 
{
	/* Background image */
	.ChatWindow 
	{ 
		background-image: url(https://vignette.wikia.nocookie.net/heliosanctus/images/6/61/Rune-writing_by_the_sea_PHONESIZE.png/revision/latest?cb=20180304015605);
		background-size: cover;
	}
 
	/* Shrinks the sidebar so there is more space for the main area */
	.Rail
	{
	    width: 55px;
	}
 
	/* Makes the main area resize to better fit small displays */
	.Chat
	{
	    width: 84%;
	}
 
	/* Makes the typing box resize to better fit small displays */
	.message
	{
		width: 105%
	}
 
}
 
 
/*
* ======= *
* Top Bar *
* ======= *
*/
/* Main Section */
.ChatHeader
{
    background-color: rgba(173,227,241,.7) !important;
}
 
/* Topbar Images */
.ChatHeader .User img
{
    border-radius: 100%;
}
 
 
/*
* ========= *
* Text Area *
* ========= *
*/
/* Main Scetion */
#WikiaPage, #ChatHeader
{
	background-color: rgba(221,238,255,.7);
}
 
/* Inline Alerts */
.Chat .inline-alert
{
    color: rgba(29, 85, 113, 0.7);
}
 
/* Your Messages */
.Chat .you
{
    border-left: 7px solid rgba(173,227,241,.7);
    background-color: rgba(0,0,0,0);
}
 
/* /me messages */
.Chat .me-message
{
    color: rgba(29,85,113,0.7);
    font-weight: bold;
}
 
/* Links */
.Chat a
{
    color: #285877;
}
 
 
/* 
* ======= *
* Sidebar *
* ======= *
*/
/* Main Sidebar */
.Rail
{
    background-color: rgba(173,227,241,.7) !important;
}
 
.Rail .selected
{
    box-shadow: none;
    background-color: rgba(29,85,113,0.3)
}
 
.Rail .User:hover
{
    background: rgba(173,227,241,.9);
}
 
.UserStatsMenu 
{
    background: rgba(173,227,241,.5);
}
 
.UserStatsMenu .info
{
    background: rgba(173,227,241,.8);
} 
 
.UserStatsMenu .actions ul li
{
    color: rgba(29,85,113,0.7);
}
 
/* Sidebar avatars */
.Rail .User img
{
    border-radius: 100%;
}