/** TABLE OF CONTENTS
  *  Buttons
  *  Custom Bullets
  *  Custom Edit Pencil
  *  Forum Board
  *  Infobox Classes
  *  Modules
  *  Ribbon
  *  Sticky Note
  *  User Tags
  *  Alternative Table
  *  Miscellanous/Other
  **/


/* Buttons */
a.wikia-button, button, .button, .CategorySelect.articlePage .category.new, .control-button.even, input[type="button"], input[type="reset"], input[type="submit"], .MiniEditorWrapper .toolbar .cke_button > a, .paging_full_numbers .paginate_active, .paging_full_numbers .paginate_button, .wikia-menu-button, .wikia-single-button a {
   border-radius: 16px;}

#ca-edit:hover {
   /* left half of edit button */
   border-radius: 10px 0 0 10px;}

.wikia-menu-button .drop {
   /* right half of edit button */
   border-radius: 0 10px 10px 0;}


/* Custom Bullets */
.page-Wiki_Projects .WikiaArticle ul {
   list-style: url("http://vignette4.wikia.nocookie.net/heliosanctus/images/c/c5/Bulletpixel2.png");
   margin: 0 0 0.3em 2.5em;}


/* Custom Edit Pencil */
.wikia-menu-button .sprite.edit-pencil {
   background: url('http://vignette1.wikia.nocookie.net/heliosanctus/images/c/ca/Editlogo.png') no-repeat !important;
   background-position: 0 !important;}


/* Forum Board */
.Forum .activity {
   margin-right: 10px;}

ul.boards .board {
   padding-left: 100px;
   background-image: url('http://vignette4.wikia.nocookie.net/heliosanctus/images/4/4b/Wikilogo.png');
   background-position: 15px center;
   background-repeat: no-repeat;
   border-radius: 70px 0 0 70px;}

ul.boards .board:hover {
   border-bottom: 5px solid rgba(0,0,0,0.2);
   margin-left: 5px;
   transition: 0.25s;}

.board-2139 {
   /* News and Announcements */
   background-color: rgba(150,25,50,0.25);}

.board-2141 {
   /* Questions and Answers */
   background-color: rgba(250,150,25,0.25);}

.board-2138 {
   /* General Discussion */
   background-color: rgba(150,200,75,0.25);}

.board-2142 {
   /* Fun and Games */
   background-color: rgba(75,175,200,0.25);}


/* Infobox Classes */
/*.portable-infobox .pi-header, .portable-infobox .pi-title {
   background: linear-gradient(to top, #337800 28%, #49AB00 82%), #E3F2CA;
   color: #FFF;
   font-size: 13px;
   font-weight: bold;
   text-align: center;}

.pi-border-color {
   border-color: #999;}

.pi-data {
   background-color: #FFF;}*/


/* Modules */
.WikiaRail .module{
   border-radius: 21px;
   box-shadow: 0 0 2px #888 inset;
   background-color: rgba(0,0,0,0.1);}


/* Ribbon */
.WikiHeader .navbackground {
   border: 1px solid #000;
   border: 1px solid rgba(122, 122, 122, 0.43);
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);}

.WikiHeader > nav .marked {
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), inset 0 -15px 30px rgba(0, 0, 0, 0.3);}
   
.WikiHeader > nav li {
   border-bottom: none;}


/* Sticky Note */
.stickynote {
   background: url('http://vignette1.wikia.nocookie.net/heliosanctus/images/8/8a/Paper-alpha.png'), linear-gradient(180deg, rgba(255, 255, 255, .75) 15%, transparent), transparent;
   background-color: yellow;
   background-size: cover;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
   float: right;
   font-family: 'Walter Turncoat';
   margin: 5px;
   padding: 10px;
   text-align: left;
   transform: rotate(-2deg);
   height:200px; width:200px;}


/* User Tags */
.tag {
   border-radius: 12px !important;
   background-color: rgba(0,0,0,0.1) !important;
   box-shadow: inset 4px 4px rgba(0,0,0,0.5), inset 4px -4px rgba(0,0,0,0.5), inset -4px 4px rgba(0,0,0,0.5), inset -4px -4px rgba(0,0,0,0.5);
   padding: 5px !important;}


/* Alternative Table */

.article-table-plus {
   background: #FFF;
   border: 1px solid rgba(0,0,0,0.5);
   border-collapse: collapse;
   margin: 1em auto 1em auto;}

.article-table-plus td, .article-table-plus th {
   /* styles all cells */
   border: none;
   padding: .7em 1.3em;}

.article-table-plus td:nth-of-type(even) {
   /* adds color to cells in even-numbered columns */
   background-image: linear-gradient(rgba(0,0,0,0.02),rgba(0,0,0,0.02));}

.article-table-plus th {
   /* styles for "heading" cells */
   background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
   font-size: 1.2em;}

.article-table-plus tr:nth-of-type(even) td {
   /* styles cells in even-numbered rows */
   background-image: linear-gradient(rgba(0,0,0,0.02),rgba(0,0,0,0.02));}

.article-table-plus tr:nth-of-type(even) td:nth-of-type(even) {
   /* styles even-numbered cells in even-numbered rows */
   background-image: linear-gradient(rgba(0,0,0,0.04),rgba(0,0,0,0.04));}

.no-a a {
   /* class that removes link color */
   color: inherit;}


/* Miscellanous/Other */
.insights-module.insights-light.module {
   /* disables Insights module */
   display: none;}

.page-Thread_6459 ul.replies .msg-body {
   /* disables comments on 'Thread:6459' */
   display: none;}

.page-Voting_Options .pollAnswerVotes {
   /* disables poll answers on 'Voting Options' */
   display: none;}

.recirculation-rail.module {
    display: none;}

.Wall .timestamp {
   /* debugs message on redirected message wall threads */
   font-family: 'Ubuntu', Arial, sans-serif;
   font-size: 10px;
   line-height: 1.2;}

#tinywiki { font-size: 10px; transition: 1s; }
#tinywiki:hover { font-size: 16px; }

.page-User_ZodiaDragon_Zodibox3 {
visibility: hidden;}
